OWNER_NAME="CYBER GHOST👻"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "QUEEN-SASI-MD"
IMAGE_MENU= "https://telegra.ph/file/3cd8de5d949bff74889e2.mp4"
NUMERO_OWNER= ""
OWNER_NAME= "Kanishka De Silva"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
